.DS_Store
node_modules

.wireit
/packages/apis/exports
/packages/server/exports

.builder-cache


packages/**/www/**/*.js
packages/**/www/**/*.d.ts
packages/**/serviceAccountKey.json
packages/**/exports
packages/**/server.config.json